<ul class="todos">
  @for (todo of todos(); track todo.id) {
    <li class="todo" [class.done]="todo.isCompleted">
      <label class="content">
        <input
          type="checkbox"
          class="toggle"
          [checked]="todo.isCompleted"
          (change)="toggleComplete.emit(todo.id)"
        />
        <span class="text">{{ todo.content }}</span>
      </label>
      <button
        type="button"
        class="delete"
        [attr.aria-label]="'Delete ' + todo.content"
        (click)="remove.emit(todo.id)"
      >
        Delete
      </button>
    </li>
  } @empty {
    <li class="empty">Nothing to do. Add something above.</li>
  }
</ul>
